/*The modal appears after 3 seconds of
being on the web page.
JavaScript is fully functional
and throws no errors
It is clear how the user would
exit the modal (e.g. x or close button)
Clear usage of modal - the user
understands what is being asked of them
Thoughtful styling has been integrated
Proper HTML formatting
Proper CSS formatting
*/

/*font-family: 'Bungee Shade', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Amatic SC', cursive;
font-family: 'Shadows Into Light', cursive;
font-family: 'Bangers', cursive;
font-family: 'Rock Salt', cursive;
font-family: 'Kumar One', cursive;
font-family: 'Sigmar One', cursive;
font-family: 'Monoton', cursive;
font-family: 'Fredericka the Great', cursive;
font-family: 'Creepster', cursive;
font-family: 'Kranky', cursive;
font-family: 'Henny Penny', cursive;*/

/*
lionheart
*/
.color1{background-color:	#d9534f;}
.color2{background-color:	#f9f9f9;}
.color3{background-color:	#5bc0de;}
.color4{background-color:	#5cb85c;}
.color5{background-color:#428bca;}


.modal{ /*refers to the element with
          the class name "modal"*/
    /* Hidden by default */
    /*the javascript alters this property
      to make it appear and disappear*/
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#myModal{
    display: none; /* Hidden by default */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.title{
  display:block;
  text-align:center;

  height:300px;
  width:1000px;
  padding-top:1%;

  font-family:'Bangers', cursive;
  float: left;
}
#A{
  color:yellow
}
.title h1{
  font-size:500%;
}
.title h1 #Beast{
color:white;
}

.title h1 #Adopter{
color:#5bc0de;
}

.blurry-text {
   color: transparent;
   text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

p{
  font-family:courier;
}
